<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student info</title>
</head>
<body>      
    <h1>Student information</h1>        
        <h2>ID: <%= user.id %></h2>
        <h3>Name: <%= user.fullname %></h3>
        <h3>Roll Number: <%= user.rollnumber %></h3>
        <h3>Class: <%= user.class %></h3>
        <h3>Grade: <%= user.grade %></h3>
</body>
</html>