<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Students</title>
</head>
<body> 
    <a href="/users/add"><button>Add</button></a>
   <% for(let u of user) { %>               
    <h2>ID: <%= u.id %></h2>
    <h3>Name: <%= u.fullname %></h3>
    <h3>Roll Number: <%= u.rollnumber %></h3>
    <h3>Class: <%= u.class %></h3>
    <h3>Grade: <%= u.grade %></h3>
    <a href="/users/<%= u.id %>">Show Details</a>
    <a href="/users/<%=u.id%>/edit"><button>edit</button></a>
    <a href="/users/<%=u.id%>/delete"><button>delete</button></a>
    <hr>
  <% } %>
</body>
</html>